DB_URL=jdbc:mysql://localhost:3306/banking_service
DB_USER=root
DB_PASSWORD=root
XM_FILE_LOCATION=src/main/resources/xml/banking_service.xml
SCHEMA_FILE_LOCATION=src/main/resources/xml/banking_service.xsd